<!DOCTYPE html>
<html lang="en">
<head>
  <title>UBER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body background="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/06/shutterstock_271665845.jpg" style="background-repeat:no-repeat;background-size:cover;">

 <div class="background-image-fixed cover-image">
<nav class="navbar navbar-default" style="opacity:0.6; background-rgba(0,0,0,.2)">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="opacity:1";>
      <ul class="nav navbar-nav" style="opacity:1";>
        <li class="dropdown" style="opacity:1";>
          <a href="#" class="dropdown-toggle" style="opacity:1; background-rgba(0,0,0,.2)" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" style="opacity:1;">
            <li><a href="#">Safety</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Developer</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sign Up</a></li>
          </ul>
        </li>      
      </ul>
       <ul class="nav navbar-nav navbar-right" style="opacity:1";>
        <li><a href="#" style="opacity:1;">LOG IN</a></li>
        <li>
           <button type="button" class="btn btn-primary btn-sm" style="opacity:1;">SIGNUP</button>
        </li>
      </ul>
      </br>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<h1 style="color:white" align="center">UBER</h1>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
  <div class="row">
  <div class="col-md-1"></div>
   <div class="col-md-6"><h1 style="color:white">YOUR RIDE, ON DEMAND </h1>
   <h3 style="color:white">TRANSPORTATION IN MINUTES WITH THE UBER APP</h3></br>
   <div class="col-md-3"><button type="button" class="btn btn-primary" style="opacity:1;width:100%">SIGNUP</button></div>
   </div>
 </div>
</body>
</html>
