<div class="row" ng-init="LoadDrivers()">
	<div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; text-align:center;">
	<div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h1 style="font-size:22px;" align="center">Select the Driver</h1>
      </div>
     </div>
	 </div>		
 </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
      <div class="row">
      	<div class="col-xs-8 col-xs-offset-1">
        <div id="map" style="width:520px;height:200px;"></div>
        </div>
      </div>
    </div>
</div>